body{
    margin: 0;
    padding: 0;
   }
   .banner{
    background: #1a1919;
    width: 100%;
    height: 500px;
   }
  
  .header{
   width: 100%;
   height: auto;
   background-color: rgb(47, 47, 47);

  }
  .header h1{
    color: aliceblue;
  }
  .dymanic-content{
    display: flex;
    justify-content: center;
    align-items: center;
    background: #1a1919;
  }
  .banner-content{
    display: block;
    text-align: center;
  }
  .banner-content .upper-text{
    color:aliceblue;
    font-size: 60px;
    margin-top: 70px;
  }
  .banner-content .animated-text{
   height: 90px;
   line-height:90px ;
   overflow: hidden;
  }
  
  /* .animated-text{
    position: absolute;
  } */
  .animated-text li{
   color: #FC6D6D;
    list-style: none;
    font-size: 60px;
    font-weight: 500;
  
    position: relative;
    top: 0;
    animation: slide 6s steps(4) infinite;
  }
  @keyframes slide {
    100%{
     top: -360px;
    }
  }
  
  .animated-text li span{
    position: relative;
  }
  .animated-text li span::after{
    content: "";
    position: absolute;
    left: 0;
    height: 100%;
    width: 100%;
    background:#1a1919;
    border-left: 2px solid #FC6D6D;
    animation: typing 1.5s steps(10) infinite;
  }
  @keyframes typing {
    100%{
      left: 100%;
      margin: 0 -35px 0 35px;
    }
  }
  .ad-section{
    padding: 80px 0;
  }
  
  .ad-bannar{
  
  }
  .ad-picture{
    border-radius: 50px;
    text-align: center;
    box-shadow: -10px 20px 60px #bebebe, -20px -20px 60px #fff;
    width: 23.6%;
    height: 100px;
    display: flex;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
  
  }
  .ad-picture img{
    width: 30%;
    text-align: center;
  }
  
  .section-heading{
    text-align: center;
  }
  .service-item{
    margin-bottom: 20px;
  }
  
  .service-item-banner{
    margin: 0 auto;
    padding: 10px 0;
  }
  .service-item-box{
    width: 31.3%;
      height: 550px;
      border: none;
      box-shadow: -10px 20px 60px #bebebe, -20px -20px 60px #fff;
      border-radius: 10px;
      background-color: #FFFFFF;
      margin-bottom: 15px;
  }
  
  .service-inner-item{
    width: 100%;
    height: 526px;
  }
  
  .service-inner-item-img{
    width: 99%;
    text-align: center;
    margin: 0 auto;
  
  }
  .service-inner-item-img img{
    width: 100%;
    height: 250px;
  }
  
  .service-inner-item-header{
    color: #FC6D6D;
  }
  .service-inner-item-header h2{
    font-size: 42.3px;
      font-weight: 600;
  }
  .service-inner-item-header span{
    color: #1a1919;
    font-size: 23.6px;
    font-weight: 600;
  }
  
  .service-inner-item-text{
    height: 27%;
  }
  .service-inner-item-text p{
    font-size: 100%;
    font-weight: 400;
  }
  
  .service-inner-item-btn{
    margin-top: 15px;
  }
  .Link {
    background-color: #FC6D6D;
    color: aliceblue;
    border: none;
    padding: 10px;
    font-size: 17.1px;
    border-radius: 10px;
    text-decoration: none;
  }
  
  
  .survey-section{
    margin: 80px 0;
  }
  
  .survay-item{
    text-align: center;
    margin-top: 50px;
  }
  
  .machines-section{
  
  }
  .machines{
   text-align: center;
   margin: 0 auto;
   padding-top:70px;
  }
  .box-shadow{
    
    box-shadow: -10px 20px 60px #bebebe, -20px -20px 60px #fff;
  }
  
  .machines-box-portrait{
    width: 30%;
    height: 390px;
    border-radius: 10px;
  }
  .machines-box-square{
    width: 30%;
    height: 260px;
   
    border-radius: 10px;
  }
  .machines-img-square{
    width: 100%;
    height: 100%;
  }
  .machines-box-square:hover{
    box-shadow: -10px 20px 60px #fff, -20px -20px 60px #bebebe;
  }
  .machines-box-portrait:hover{
    box-shadow: -10px 20px 60px #fff, -20px -20px 60px #bebebe;
  }
  .machines-img-square img{
    width: 100%;
    height: 100%;
  }
  
  .machines-img-portrait{
    width: 100%;
    height: 100%;
  }
  .machines-img-portrait img{
    width: 100%;
    height: 100%;
  
  }
  
  
  .footer-section{
    height: 150px;
    background-color: #1a1919;
    margin-top: 70px;
  }
  
  .footer-item{
    text-align: center;
  }
  .footer-item h1{
   color: aliceblue;
  }
  .footer-item span{
     color: aliceblue;
  }
  
  .about-section{
    margin-top: 150px;
    padding: 0;
    }
    .about-item{
    
    }

    @media(min-width: 992px) {
      .service-inner-item-header h2 {
        font-size: 236%;
        font-weight: 600;
    }
    }
    @media  (min-width: 768px) {
      .service-inner-item-header h2 {
        font-size: 180.5%;
        font-weight: 600;
    }


    .service-inner-item-header span {
      color: #1a1919;
      font-size: 100%;
      font-weight: 600;
  }

  .service-inner-item-text p {
    font-size: 88%;
    font-weight: 400;
}


.service-inner-item-btn {
  margin-top: 23.6%;
}
    }

    @media (min-width: 576px) { 


      .service-inner-item-header h2 {
        font-size: 130%;
        font-weight: 600;
    }


    .service-inner-item-text p {
      font-size: 75%;
      font-weight: 400;
  }


  .service-inner-item-btn {
    margin-top: 35px;
}


.Link {
  background-color: #FC6D6D;
  color: aliceblue;
  border: none;
  padding: 10px;
  font-size: 12px;
  border-radius: 10px;
  text-decoration: none;
}


.user-cards {
  position: fixed;
  top: 40.1%;
  left: 44%;
}
     }

     @media (min-width: 335px) { 
      .service-inner-item-header h2 {
        font-size: 73.9%;
        font-weight: 600;
    }


    .service-inner-item-header span {
      color: #1a1919;
      font-size: 86.7%;
      font-weight: 600;
  }

  .service-inner-item-text p {
    font-size: 60%;
    font-weight: 400;
}
.service-inner-item-btn {
  margin-top: 65px;
}
.Link {
  background-color: #FC6D6D;
  color: aliceblue;
  border: none;
  padding: 10px;
  font-size: 9.7px;
  border-radius: 10px;
  text-decoration: none;
}
      }